<div class="rlms-wrapper">
<div class="rlms-container" ng-controller="resetPassword as ctrl">
	<h1 class="rlms-heading">Change Password</h1>
	<div class="container-fluid" >
		<alert ng-show="showAlert" type="{{alert.type}}">
			<span ng-bind-html="alert.msg | safe_html"></alert>
		<form class="form-horizontal row-border" name="changePassForm">
		<fieldset>
		  <!-- <legend>Branch Details</legend> -->
		  <!--  <div class="form-group">
				<label class="col-sm-3 control-label" ng-show="showCompany">Select Company</label>
				<div class="col-sm-6" ng-show="showCompany">
					  <ui-select ng-model="selectedCompany.selected" title="Choose a Company">
					    <ui-select-match placeholder="Select or search a company in the list...">{{$select.selected.companyName}}</ui-select-match>
					    <ui-select-choices repeat="companyIterator in companies| filter: $select.search">
					      <span ng-bind-html="companyIterator.companyName | highlight: $select.search"></span>
					    </ui-select-choices>
					  </ui-select>
				</div>
				</div> -->

			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">Username</label>
				<div class="col-sm-4">
					<input name="userName" type="text" placeholder="Username" readonly ng-model="addBranch.branchName" class="form-control" >
				</div>
				</div> -->
			<div class="form-group">
				<label class="col-sm-3 control-label">Old Password<sup class="red font-12">*</sup></label>
				<div class="col-sm-4">
					<input name="oldPassword" type="password" placeholder="Old Password" required ng-model="addBranch.branchName" class="form-control">
					<!-- <span class="help-block"
						ng-show="addBranchForm.branchName.$error.required && addBranchForm.branchName.$dirty">This
						field is required</span> -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">New Password<sup class="red font-12">*</sup></label>
				<div class="col-sm-4">
					<input name="branchAddress" ng-minlength="6" type="password" placeholder="New Password" required ng-model="addBranch.branchAddress" class="form-control">
					<!-- <span class="help-block" ng-show="addBranchForm.branchAddress.$error.required && addBranchForm.branchAddress.$dirty">This
						field is required</span> -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Confirm Password</label>
				<div class="col-sm-4">
					<input name="area" type="password"
						placeholder="Confirm Password" ng-minlength="6" onkeypress="return ((event.charCode > 64 && event.charCode < 91) ||(event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32);"
						ng-model="addBranch.area" class="form-control">
				</div>
			</div>
			
			
		 </fieldset>
		
			<div class="panel-footer">
			<div class="row">
				<!-- <div class="col-sm-6">
					<span ng-click="backPage();" class=" button button-clear fa fa-chevron-circle-left go-back"></span>
				</div> -->
				<div class="col-sm-6 ">
					<div class="btn-toolbar">
						<button class="btn-primary btn" ng-disabled="addBranchForm.$invalid && addBranchForm.$pristine" ng-click="submitAddBranch()">Submit</button>
						<button class="btn-default btn" ng-click="resetAddBranch();">Reset</button>
					</div>
				</div>
			</div>
		</div>
		</form>
		
	</panel> 	
	</div>
</div>
</div>