<div class="rlms-wrapper">
<div class="rlms-container" ng-controller="resetPassword ">
	<h1 class="rlms-heading">Change Password</h1>
	<div class="container-fluid" >
		<alert ng-show="showAlert" type="{{alert.type}}">
			<span ng-bind-html="alert.msg | safe_html"></alert>
		<form class="form-horizontal row-border" name="changePassForm">
		<fieldset>
	
			<!--  <div class="form-group">
				<label class="col-sm-3 control-label">Username</label>
				<div class="col-sm-4">
					<input name="userName" type="text" placeholder="Username" readonly ng-model="changePassword.userName" class="form-control" >
				</div>
				</div> -->
				
			<div class="form-group">
				<label class="col-sm-3 control-label">Old Password<sup class="red font-12">*</sup></label>
				<div class="col-sm-4">
					<input name="oldPassword" type="password" placeholder="Old Password" required ng-model="changePassword.oldPassword" class="form-control">
					<!-- <span class="help-block"
						ng-show="addBranchForm.branchName.$error.required && addBranchForm.branchName.$dirty">This
						field is required</span> -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">New Password<sup class="red font-12">*</sup></label>
				<div class="col-sm-4">
					<input name="newPassword" ng-minlength="6" type="password" placeholder="New Password" required ng-model="changePassword.newPassword" class="form-control">
					 <!-- <span class="help-block" ng-show="addBranchForm.branchAddress.$error.required && addBranchForm.branchAddress.$dirty">This
						field is required</span> -->
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Confirm Password</label>
				<div class="col-sm-4">
					<input name="confirmPassword" type="password"
						placeholder="Confirm Password" ng-minlength="6" validateEqual="password" 
						ng-model="changePassword.confirmPassword" class="form-control">
<!-- 						<span class="help-block" ng-show="addBranchForm.branchAddress.$error.required && addBranchForm.branchAddress.$dirty">Password Mismatch</span>
 -->				</div>
			</div>
			
		 </fieldset>
		
			<div class="panel-footer">
			<div class="row">
				<div class="col-sm-6 ">
					<div class="btn-toolbar">
						<button class="btn-primary btn" ng-disabled="addBranchForm.$invalid && addBranchForm.$pristine" ng-click="submitResetPassword()">Submit</button>
						<button class="btn-default btn" ng-click="resetAddBranch();">Reset</button>
					</div>
				</div>
			</div>
		</div>
		</form>
		
	</panel> 	
	</div>
</div>
</div>